// Primary
$red: #FF7A7A;
$green: #38CC8C;

// Accent
$blue: #6055A5;
$dark-cyan: hsl(185, 75%, 39%);
$very-dark-desaturted-blue: hsl(229, 23%, 23%);
// Neutral
$dark-blue: #3E3C49;
$dark-grayish-blue: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);