$quotes: url("../../public/images/pattern-quotes.svg");
$background: url("../../public/images/pattern-bg.svg");
$curve: url("../../public/images/pattern-curve.svg");
$left-arrow: url("../../public/images/icon-prev.svg");
$right-arrow: url("../../public/images/icon-next.svg");